Source: sch-scripts
Section: admin
Priority: extra
Maintainer: Hellenic Schools Technical Support Team (Τεχνική Στήριξη ΣΕΠΕΗΥ) <devs@ts.sch.gr>
Build-Depends: debhelper
Standards-Version: 4.1.5
Vcs-Git: https://git.launchpad.net/sch-scripts
Vcs-Browser: https://code.launchpad.net/sch-scripts
Homepage: http://ts.sch.gr/wiki/Linux/LTSP

Package: sch-scripts
Architecture: all
Pre-depends:
 epoptes,
 openssh-server
Depends: ${python3:Depends}, ${misc:Depends},
 iputils-arping,
 libgtk-3-0,
 librsvg2-common,
 policykit-1,
 python3-aptdaemon.gtk3widgets,
 python3-gi
Recommends: apturl,
 bindfs,
 dnsmasq,
 ethtool,
 flashplugin-no-sse2,
 mate-session-manager | gnome-session-fallback | gnome-session-flashback | kde-workspace-bin | xfce4-utils | lxde-common,
 ltsp-client,
 ltsp-docs,
 ltsp-server-standalone | ltsp-server,
 synaptic
Suggests: ident2,
 squid,
 x2goserver
Description: Διαχείριση ΣΕΠΕΗΥ
 Παρέχει ένα σύνολο εξαρτήσεων για την αυτοματοποίηση της εγκατάστασης
 σχολικών εργαστηρίων, και ένα γραφικό περιβάλλον που υποστηρίζει διαχείριση
 λογαριασμών χρηστών, δημιουργία εικονικού δίσκου LTSP κ.α.
 .
 Πολλά από τα συμπεριλαμβανόμενα βοηθήματα προσανατολίζονται σε LTSP
 εγκαταστάσεις, αλλά το πακέτο είναι χρήσιμο και χωρίς LTSP.
